

#product-detail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#product-detail-action {
    width: 100%;
    display: flex;
    justify-content: center;
}

#notify-button {
    margin-left: 20px;
}


#product-detail-content {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#product-detail-image {
    width: 350px;
    height: 350px;
}

#initialPrice {
    text-decoration: line-through;
}